body{
    background-image: url('../resources/react2.jpg');
    background-position: -290% -9%;
}

a { 
    color: white;
    text-decoration: none;

} 
a:hover { 
    color: aqua;
    text-decoration: none;

} 

.navbox{
    margin: 2vw;
    margin-top: 1.5vw;
    border-radius: 1em;
    padding: 1vw;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.7vw;
    background-color: rgba(3,13,22,255);
}

#logo{
    width: 7vw;
    margin-left: 2vw;
}

.logo{
    text-align: center;
    margin-left: 4vw;
    width: 20vw;
    font-size: 2.5vw;
    transition: 0.5s;
}

.items{
    display: inline-block;
    transition: 0.5s;
    
}

.items:hover{
    color: aqua;
    transform: scale(1.25);
}

.logo:hover{
    color: grey;
}

.others{
    display: flex;
    
    width: 90vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
